<div class="col-xs-12" ng-controller="QueryFormController as queryFormVm">

    <form method="POST" name="queryForm">

        <div class="form-group dwc-terms" show-errors>
            <label class="control-label">Select {{queryFormVm.spatialLayerTitle}}</label>
            <div class="filters row">
                <div class="col-xs-12">
                    <select ng-model="queryFormVm.spatialLayer" class="form-control input-sm has-error" name="spatial" ng-change="queryFormVm.spatialLayerChanged()"
                        ng-options="v as k for (k, v) in queryFormVm.spatialLayers" required>
                        <option value="">-- Select a Zoom Layer --</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Query Type</label>
            <div class="filters row">
                <div class="col-xs-12">
                    <input type="radio" name="selector" value="query" ng-model="queryFormVm.params.queryType" checked ng-change="setPhotoOption(false)"> Occurrence
                    <input type="radio" name="selector" value="photos" ng-model="queryFormVm.params.queryType" ng-change="setPhotoOption(true)"> Calphotos
                    <input type="radio" name="selector" value="checklists" ng-model="queryFormVm.params.queryType" ng-change="setPhotoOption(false)"> Checklists
                </div>
            </div>
        </div>
        <div ng-show="queryFormVm.params.queryType === 'query'">
            <div class="form-group">
                <label class="control-label">Search Any Term</label>
                <div class="filters row">
                    <div class="col-xs-12">
                        <input type="text" placeholder="e.g: species, locality terms" ng-model="queryFormVm.params.queryString" class="form-control"
                        />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Search by Taxonomy</label>

                <div class="filters row form-control-static">
                    <div class="col-xs-4">
                        <select ng-model="queryFormVm.params.rank" class="form-control input-sm" ng-selected="SPECIES" name="rank" ng-options="x for x in ranks">
                            <option value="GENUS" selected="selected">GENUS</option>
                        </select>
                    </div>
                    <div class="col-xs-8">
                        <div class="btn-group" style="width:100%">
                            <input type="text" taxon-auto-complete class="form-control" ng-model="queryFormVm.params.taxonomy" placeholder="taxonomic name"
                            />
                            <span taxon-empty-contents class="glyphicon glyphicon-remove-circle" style="position:absolute; right: 5px;"></span>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="label label-default">{{queryFormVm.params.selectedTaxonomy}}</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <!--show-errors>-->
                <label class="control-label">Year Collected</label>
                <div class="filters row">
                    <div class="col-xs-3">
                        <input ng-model="queryFormVm.params.fromYear" type="text" placeholder="YYYY" name="fromYear" ng-required="queryFormVm.params.toYear"
                            class="form-control input-sm" />
                    </div>
                    <div class="col-xs-1">
                        to
                    </div>
                    <div class="col-xs-3">
                        <input ng-model="queryFormVm.params.toYear" type="text" placeholder="YYYY" name="toYear" ng-required="queryFormVm.params.fromYear"
                            class="form-control input-sm" />
                    </div>
                </div>
            </div>
            <div class="form-group dwc-terms">
                <label class="control-label">Darwin Core Terms</label>
                <div class="row filters">
                    <div class="col-xs-6">
                        <input ng-model="queryFormVm.params.institutionCode" class="form-control input-sm" type="text" placeholder="institutionCode"
                        />
                    </div>
                    <div class="col-xs-6">
                        <input ng-model="queryFormVm.params.collectionCode" class="form-control input-sm" type="text" placeholder="collectionCode"
                        />
                    </div>
                    <div class="col-xs-12">
                        <select ng-model="queryFormVm.params.basisOfRecord" class="form-control input-sm" name="basisOfRecord" ng-options="c.record as c.name for c in queryFormVm.basisOfRecord"
                            multiple>
                            <option value="">-- Basis of Record --</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <button type="submit" class="btn pull-left btn-primary" ng-click="queryFormVm.queryJson()">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                    <div class="pull-left">&nbsp;&nbsp;</div>
                    <button type="button" class="btn pull-left btn-primary" onclick="location.reload();">
                        <span class="glyphicon glyphicon-refresh"></span> Clear
                    </button>
                    <div class="pull-left">&nbsp;&nbsp;</div>
                    <!--<div ng-show="vm.queryResults.isSet && queryForm.$pristine" class="col-xs-2 download-btn">-->
                    <!--vm.queryResults.data works here but data is shifted... is there anyway to access the vm.tableData and vm.tableColumns arrays??-->
                    <button type="button" ng-disabled=!vm.queryResults.isSet class="btn pull-left btn-primary" ng-csv=downloadCsv(vm.queryResults.data)
                        csv-header=queryFormVm.downloadColumns filename=reservemapper.csv>
                        <span class="glyphicon glyphicon-download-alt"></span> Download
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="queryFormVm.params.queryType === 'photos'">
            <div class="col-xs-12">
                <button type="submit" class="btn pull-left btn-primary" ng-show="queryFormVm.params.queryType === 'photos'" ng-click="queryFormVm.queryPhotos()">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </div>
        </div>
        <div class="form-group" ng-show="queryFormVm.params.queryType === 'checklists'">
            <div class="col-xs-12">
                <button type="submit" class="btn pull-left btn-primary" ng-show="queryFormVm.params.queryType === 'checklists'" ng-click="queryFormVm.queryChecklists()">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </div>
        </div>
    </form>

</div>


<div class="col-xs-12">
    &nbsp;
    <label class="information-text">ReserveMapper performs a spatial-bounding box search on coordinates acquired through harvested data. Observations without coordinates, or that are purposefully obscured (e.g. for endangered species) or that have low accuracy may not appear in ReserveMapper results. Occurrence data are harvested from third-party web services, including the
        <a href="http://www.gbif.org/">Global Biodiversity Information Facility</a>, which serves data from the
        <a href="https://bnhm.berkeley.edu/">Berkeley Natural History Museums</a> and other institutions.
        
        <p>This site was made possible by a grant from the University of California Division of Agriculture and Natural Resources.
        </p>
      
    </label>
</div>
<div class="col-xs-12">
    <label class="information-text">Powered by
        <a href='https://holos.berkeley.edu/' target='_blank'><img height=30 src='/images/holosLogo.png'></a>&nbsp;&nbsp;
        <a href='https://gbif.org/' target='_blank'><img height=40 src='/images/gbifLogo.png'></a>&nbsp;&nbsp;
        <a href='https://calphotos.berkeley.edu/' target='_blank'><img height=35 src='/images/calphotosLogo.png'></a>
    </label>
</div>
<script>
//$("#genusClear").click(function(){
 //   $("#genus").val('');
//});
</script>
