<div class="query-bar">
    <div class="actions clearfix">
        <!-- query view toggle -->
	<div class="query-brand">
	    <img src='images/bnhm_logo_small.gif'>
	    <label>Berkeley Natural History Museums ReserveMapper</label>
	</div>
        <div class="query-toolbar-right">
            <div class="btn-group btn-group-sm query-view-toggle">
                <button type="button" ng-click="vm.showMap=true; vm.showTable=false; vm.showStats=false; vm.showMessages=false" ng-class="{'disabled': vm.showMap}"
                        class="btn btn-default">Map
                </button>
                <button type="button" ng-click="vm.showMap=false; vm.showTable=true; vm.showStats=false; vm.showMessages=false" ng-class="{'disabled': vm.showTable}"
                        class="btn btn-default">Table
                </button>
                <button type="button" ng-click="vm.showMap=false; vm.showTable=false; vm.showStats=true; vm.showMessages=false" ng-class="{'disabled': vm.showStats}"
                class="btn btn-default">Statistics
                </button>
                <button type="button" ng-click="vm.showMap=false; vm.showTable=false; vm.showStats=false; vm.showMessages=true" ng-class="{'disabled': vm.showMessages}"
                        class="btn btn-default">Messages <span ng-show="vm.alerts.getAlerts().length">({{vm.alerts.getAlerts().length}})</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="query-page fill-screen">
    <!-- sidebar-->
    <div ng-show="vm.showSidebar" ng-include="'query/queryForm.html'" class="sidebar"></div>

    <!-- sidebar toggle -->
    <div class="sidebar-toggle">
        <button class="btn btn-default" ng-click="vm.showSidebar = !vm.showSidebar"><span
                class="glyphicon" uib-tooltip="{{ vm.sidebarToggleToolTip }}" tooltip-placement="right"
                ng-class="{'glyphicon-chevron-left': vm.showSidebar, 'glyphicon-chevron-right': !vm.showSidebar}"></span>
        </button>
    </div>
    <!-- main content-->
    <div class="query-content">

        <div class="center-spinner" us-spinner="" spinner-key="query-spinner"></div>

        <!-- map -->
        <leaflet-map ng-show="vm.showMap" map="vm.queryMap" invalidate-size="vm.invalidSize" class="angular-leaflet-map"></leaflet-map>

	<!-- Modal for holding calphotos popupContent -->	
	<div id="photoModal"class="modal" role="dialog">
		<div class="modal-dialog"> 
			<!-- Modal content -->
			<div id="modal-content" class="modal-content">
				<div class="modal-body" id="modal-body">
					<span id="close">&times;</span>
					<div id="modalPopupContent"></div>
				</div>
			</div>
		</div> 
	</div>

        <div class="calphotos-error-backdrop" ng-show="vm.showCalphotosError" ng-click="vm.dismissCalphotosError()">
            <div class="calphotos-error-popup" role="alertdialog" aria-live="assertive" aria-labelledby="calphotos-error-title" ng-click="$event.stopPropagation()">
                <button type="button" class="calphotos-error-close" aria-label="Close" ng-click="vm.dismissCalphotosError()">&times;</button>
                <div id="calphotos-error-title" class="calphotos-error-title">CalPhotos unavailable</div>
                <p>{{vm.calphotosErrorMessage}}</p>
            </div>
        </div>
	
	<!-- table -->
        <div ng-show="vm.showTable" class="query-table" ng-class="{'full-page-query-table': !vm.showSidebar}"
             ng-include="'query/table/' + vm.queryParams.queryType + 'Table.html'"></div>

        <!-- statistics -->
        <div ng-if="vm.showStats" class="show-stats" ng-class="{'full-page-query-table': !vm.showSidebar}"
        ng-include="'query/stats/' + vm.queryParams.queryType + 'Stats.html'"></div>

        <!-- messages -->
        <div ng-show="vm.showMessages" class="query-messages" ng-class="{'full-page-query-table': !vm.showSidebar}">
            <div class="messages-toolbar">
                <div class="messages-title">Messages</div>
                <button type="button" class="messages-clear" ng-click="vm.clearMessages()">Clear messages</button>
            </div>
            <div class="message-list" ng-show="vm.alerts.getAlerts().length">
                <div ng-repeat="alert in vm.alerts.getAlerts()" class="message-entry message-{{alert.level}}">
                    <span class="message-level">{{ alert.level }}</span>
                    <span class="message-text">{{ alert.msg }}</span>
                </div>
            </div>
            <div id="popupContent" class="messages-popup-panel"></div>
            <div class="messages-empty" ng-show="!vm.alerts.getAlerts().length">No messages for the current load.</div>
        </div>

    </div>
</div>
