<div ng-controller="QueryStatsController as queryStatsVm"style='padding:40px'>
    <div class="help-block" ng-show="!queryStatsVm.queryResults.isSet">Click <strong>Search</strong> on sidebar to
        display stats results
    </div>

    <div ng-app="" ng-show="queryStatsVm.queryResults.isSet">
	    <!--<div><label class="control-label">Total results queried= {{ queryStatsVm.totalResults }} Total results shown= {{ queryStatsVm.queryResults.toFetch }}</label></div>-->
	    <div><label class="control-label">Total results included = {{queryStatsVm.queryResults.toFetch}} 
			    {{queryStatsVm.totalResults=== queryStatsVm.queryResults.toFetch ? "": " out of " +queryStatsVm.totalResults + " possible"}}
			    </label></div>
	    <div><label class="control-label">Group and Count by:</label></div>

	<button class="btn btn-default btn-sm" ng-click="classCount()">Class</button>
	<button class="btn btn-default btn-sm" ng-click="orderCount()">Order</button>
	<button class="btn btn-default btn-sm" ng-click="familyCount()">Family</button>
	<button class="btn btn-default btn-sm" ng-click="genusCount()">Genus</button>
	<button class="btn btn-default btn-sm" ng-click="specific_epithetCount()">Species</button>
	<br></br>
	<div grid-data grid-options="gridOptions" grid-actions="gridActions">
                 <table class="table">
                     <thead>
	  		<tr> 
                        <th sortable='value' class="sortable" width="50px">count</th>
			<th sortable='key' class='sortable'>{{queryStatsVm.columnName}}</th>
		     </tr>
                     </thead>
                     <tbody>
			      <tr grid-item>
                                <td ng-bind-html="item.value"></td>
                                <td ng-bind-html="item.key"></td>
			</tr>
			
						
			
		      </tbody>

	</div>
   </div>
</div>

