<div ng-controller="QueryStatsController as queryStatsVm" class="query-stats">
    <div class="help-block" ng-show="!queryStatsVm.queryResults.isSet">Click <strong>Search</strong> on sidebar to
        display stats results
    </div>

    <div ng-show="queryStatsVm.queryResults.isSet">
        <div>
            <label class="control-label">Checklist species rows = {{queryStatsVm.queryResults.size}}</label>
            <label class="control-label">GBIF occurrence records = {{queryStatsVm.queryResults.occurrenceTotalElements}}</label>
            <label class="control-label" ng-show="queryStatsVm.queryResults.checklistTruncated">
                Limited to {{queryStatsVm.queryResults.checklistLimit}} species
            </label>
        </div>
        <div><label class="control-label">Group and Count by:</label></div>

        <button class="btn btn-default btn-sm" ng-click="classCount()">Class</button>
        <button class="btn btn-default btn-sm" ng-click="orderCount()">Order</button>
        <button class="btn btn-default btn-sm" ng-click="familyCount()">Family</button>
        <button class="btn btn-default btn-sm" ng-click="genusCount()">Genus</button>
        <button class="btn btn-default btn-sm" ng-click="scientificNameCount()">Scientific Name</button>
        <button class="btn btn-default btn-sm" ng-click="firstYearCount()">First Year</button>
        <button class="btn btn-default btn-sm" ng-click="lastYearCount()">Last Year</button>
        <br></br>
        <div class="help-block" ng-show="queryStatsVm.loadingStats">
            Loading stats... {{queryStatsVm.statsProgress}}
        </div>
        <div grid-data grid-options="gridOptions" grid-actions="gridActions">
            <table class="table">
                <thead>
                    <tr>
                        <th sortable="value" class="sortable" width="50px">{{queryStatsVm.valueColumnName || 'count'}}</th>
                        <th sortable="key" class="sortable">{{queryStatsVm.columnName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr grid-item>
                        <td ng-bind-html="item.value"></td>
                        <td ng-bind-html="item.key"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
